#project{
	background-color: rgba(255,0,0,0.1);
	width: 1000px;
	height: 450px;
	border-style: solid;
}

#coding_area{
	background-color: rgba(255,255,255,0.5);
	width: 760px;
	height: 450px;
	float: left;
}

#option_bar{
	background-color: black;
	width: 756px;
	height: 26px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.option{
	float: left;
	width: 60px;
	text-align: center;
}

.option:hover{
	cursor: pointer;
}

.option_link{
	color: white;
}

#struct_area{
	background-color: white;
	width: 400px;
	height: 420px;
}

.line{
	background-color: rgba(0,0,255,0.5);
	height: 46px;
	width: 396px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.line_selected{
	background-color: rgba(255,0,0,0.5);
	height: 46px;
	width: 396px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.line_number{
	float: left;
	height: 100%;
	width: 46px;
	text-align: center;
	line-height:46px;
}

.line_struct{
	line-height: 46px;
	float: left;
}

#tool_bar{
	width: 240px;
	height: 450px;
	float: right;
	background-color: rgba(0,0,0,0.2);

	display: none;
}

#tool_bar_header{
	width: 240px;
	height: 40px;
}

#tool_bar_item{
	width: 240px;
	height: 410px;
}

#tool_bar_new{
	display: block;
}

#tool_bar_assign{
	display: none;
}

#tool_bar_other{
	display: none;
}

.tool_bar_button{
	width: 72px;
	height: 32px;
	float: left;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(0,0,0,0.2);
	background-color:white;
	text-align: center;
	font-size:20px;
}

.tool_bar_button:hover{
	cursor: pointer;
}

.in_toolbar_text{
	user-select: none;
	float: center;
	text-align: center;
}

.tool_blank{
	width: 240px;
	height: 10px;
	float:left;
}

.tool_box_area{
	width:100px;
	height:60px;
	float:left;
}

.tool_box{
	width:50px;
	height:50px;
	border-style:groove;
	border-width:5px;
	font-family:"Arial Black";
	font-size: 14px;
	float:right;
	text-align: center;
}

.tool_box:hover{
	cursor: pointer;
}

.tool_text{
	width:130px;
	height:60px;
	float:right;
	text-align: center;
	display: block;
}

.tool_input{
	width:130px;
	height:60px;
	float:right;
	text-align: center;
	font-size: 16px;
	display: none;
}

.assign_selector{
	width:130px;
	height:60px;
	float:right;
	text-align: center;
	font-size: 16px;
	display: none;
}

#assign_var_selector{
	font-size: 14px;
	width: 120px;
}

.tool_link{
	color:#0000ff;
}
.tool_link:hover{
	color:#ff0000;
}
