#project{
	background-color: rgba(255,0,0,0.1);
	width: 1000px;
	height: 450px;
	border-style: solid;
}

#coding_area{
	background-color: rgba(255,255,255,0.5);
	width: 760px;
	height: 450px;
	float: left;
	user-select: none;
	-moz-user-select: none;
}

#option_bar{
	background-color: black;
	width: 756px;
	height: 26px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.option{
	float: left;
	width: 60px;
	text-align: center;
}

.option:hover{
	cursor: pointer;
}

.option_link{
	color: white;
	user-select: none;
	-moz-user-select: none;
}

#struct_area{
	background-color: white;
	width: 400px;
	height: 420px;
	overflow: scroll;
}

#struct_area:hover{
	cursor: default;
}

.line{
	background-color: rgba(0,0,255,0.5) !important;
	height: 46px;
	width: 95%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	user-select: none;
	-moz-user-select: none;
}

.line_selected{
	background-color: rgba(255,0,0,0.5);
	height: 46px;
	width: 95%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	user-select: none;
	-moz-user-select: none;
}

.line_blank{
	height: 46px;
	width: 20px;
	float: left;
}

.line_number{
	float: left;
	height: 100%;
	width: 46px;
	text-align: center;
	line-height:46px;
	user-select: none;
	-moz-user-select: none;
}

.line_struct{
	line-height: 46px;
	float: left;
	user-select: none;
	-moz-user-select: none;
}

.if_option{
	width: 100px;
	line-height: 46px;
	float: right;
	text-align: center;
	user-select: none;
	-moz-user-select: none;

	display: none;
}

.if_option:hover{
	color: red;
}

.if_rest{
	width: 75%;
	height: 100%;
	float: right;
}

.if_rest_min{
	width: 26%;
	height: 100%;
	float: right;
}

.box{
	background-color: rgba(0,255,0,0.25);
	
	border-style: solid;
	
	border-color: white;
	border-width: 2px;
	position: relative;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
}

.box_selected{
	background-color: rgba(0,255,0,0.25);
	
	border-style: solid;
	
	border-color: red;
	border-width: 2px;
	position: relative;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
}

.box_blank{
	background-color: rgba(0,255,0,0);
	border-style: solid;
	border-color: white;
	border-top-color: ;
}

.if{
	height: 46px;
	width: 100%;
	user-select: none;
	-moz-user-select: none;
}

.if_selected{
	background-color: rgba(0,255,0,0.2);
	height: 46px;
	width: 99%;
	border-style: solid;
	border-color: red;
	border-width: 2px;
	user-select: none;
	-moz-user-select: none;
}

.if_struct{
	line-height: 46px;
	float: left;
	user-select: none;
	-moz-user-select: none;
}

.if_struct:hover{
	color: white;
}

#tool_bar{
	width: 240px;
	height: 450px;
	float: right;
	background-color: rgba(0,0,0,0.2);

	display: none;
}

#tool_bar_header{
	width: 240px;
	height: 40px;
	user-select: none;
	-moz-user-select: none;
}

#tool_bar_item{
	width: 240px;
	height: 360px;
}

#tool_bar_delete{
	width: 240px;
	height: 50px;
}

#delete_button{
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	width: 200px;
	height: 40px;
	border-radius: 8px;
}

.stop{
	color: black;
	background-color: gray;
	border: 2px solid black;
	cursor: default;
}

.active{
	color: black;
	background-color: red;
	border: 2px solid black;
	cursor: pointer;
}

.active:hover{
	color: white;
	border: 2px solid white;
	cursor: pointer;
}

#tool_bar_new{
	display: block;
}

#tool_bar_assign{
	display: none;
}

#tool_bar_other{
	display: none;
}

.tool_bar_button{
	width: 72px;
	height: 32px;
	float: left;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(0,0,0,0.2);
	background-color:white;
	text-align: center;
	font-size:20px;
}

.tool_bar_button:hover{
	cursor: pointer;
}

.in_toolbar_text{
	user-select: none;
	float: center;
	text-align: center;
}

.tool_blank{
	width: 240px;
	height: 10px;
	float:left;
}

.tool_box_area{
	width:100px;
	height:60px;
	float:left;
}

.tool_box{
	width:50px;
	height:50px;
	border-style:groove;
	border-width:5px;
	font-family:"Arial Black";
	font-size: 14px;
	float:right;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
}

.tool_box:hover{
	cursor: pointer;
}

.tool_text{
	width:130px;
	height:60px;
	float:right;
	text-align: center;
	display: block;
	user-select: none;
	-moz-user-select: none;
	cursor: default;
}

.tool_input{
	width:130px;
	height:60px;
	float:right;
	text-align: center;
	font-size: 16px;
	display: none;
}

.assign_selector{
	width:130px;
	height:60px;
	float:right;
	text-align: center;
	font-size: 16px;
	display: none;
}

#if_button{
	width: 90%;
	height: 80%;
	text-align: center;
	float: center;
}

#assign_var_selector{
	font-size: 14px;
	width: 120px;
}

.tool_link{
	color:#0000ff;
}
.tool_link:hover{
	color:#ff0000;
}
